.pre_reg_pg{
  background-color: gainsboro;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #cecece 10px ), repeating-linear-gradient( #ffffff55, #ffffff );
  position: fixed;
  width: 100%;
  height: 100%;
}
.bdy{
  overflow: auto;
  width: 70%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.296);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.442);
  border-color: indigo;
  border-style: double;
  border-width: 10px;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bbg{
  text-align: center;
  min-height: max-content;
  height: 97%;
  overflow: auto;
  border-color: slategray;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.442);
  border-style: double;
  border-width: 10px;
  border-radius: 20px;
  background-color: gainsboro;
}
#register_prepage{
  text-align: center;
  margin-top: 5%;
  background-color: slategray;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  float: left;
}
#register_prepage1{
  text-align: center;
  margin-top: 5%;
  background-color: rebeccapurple;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  float: left;
}
#register_prepage2{
  text-align: center;
  margin-top: 5%;
  background-color: teal;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  float: left;
}
#student_regbtn{
  font-size: 150%;
  margin-top: 5%;
  border-radius: 7px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  background-color: rebeccapurple;
  color: aliceblue;
  border-width: 0px;
  height: 50px;
  width: 200px;
  transition: 0.2s;
}
#student_regbtn:hover{
  box-shadow: 2px 2px 10px 10px indigo;
  background-color: rebeccapurple;
  border-width: 1px;
  transform: scale(1.1);
}
#tutor_regbtn{
  font-size: 150%;
  margin-top: 5%;
  border-radius: 7px;
  background-color: teal;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  color: aliceblue;
  border-width: 0px;
  height: 50px;
  width: 200px;
  transition: 0.2s;
}
#tutor_regbtn:hover{
  box-shadow: 2px 2px 10px 10px teal;
  border-width: 1px;
  background-color: lightseagreen;
  transform: scale(1.1);
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}
.form{
  width: 70%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.296);
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  border-color: slategray;
  border-style: double;
  border-width: 10px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  text-align: center;
}
#register{
  text-align: center;
  margin-bottom: 2%;
  background-color: #ffffff;
  color: teal;
  font-size: 200%;
  width: 100%;
}
.form-body{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: x-large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#footer{
  height: 40px;
  color: aliceblue;
  text-align: center;
  border-width: 0px;
  background-color: teal;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  font-size: 140%;
  width: max-content;
  border-radius: 7px;
  transition: 0.1s;
}
#footer:hover{
  border-width: 1px;
  background-color: teal;
  transform: scale(1.1);
}
/* __________________________________________________________________________________________________________________________________________________________ */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}
.navbar{
  /* margin: auto; */
  border-radius: 8px;
  margin: 1%;
  width: 98%;
  /* position: fixed; */
  /* top: 0%; */
  /* margin-left: 5px; */
  /* padding: 20px; */
  height: 6%;
  height: auto;
  /* min-height: 60px; */
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  background: linear-gradient(to right, indigo , rebeccapurple);
}
.handlebar{
  margin: 1%;
  /* padding: 1%; */
  border-radius: 8px;
  width: 98%;
  /* margin-bottom: 10px; */
  /* padding: 10px; */
  height: 50px;
  /* max-height: max-content; */
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  background-color: indigo;
}
.bardiv{
  margin-top: 1%;
  float: left;
  width: 23%;
  height: 5%;
  /* height: 2%; */
  /* padding: 1%; */
  /* width: auto; */
  font-size: 150%;
  text-align: center;
  color: white;
}
.handlebar1{
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  height: 85%;
  width: 48%;
  /* overflow: auto; */
  text-align: center;
  float: left;
  /* margin-left: 10px; */
  /* overflow-y: auto; */

  border-radius: 8px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  /* width: 95%; */

  /* height: 50px; */
  /* margin-top: 100px; */
  background-color: indigo;
  /* margin-top: 1%; */
  overflow: auto;
  /* border-radius: 8px; */
  /* border-width: 10px; */
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  /* width: 95%; */
  /* padding: 10px; */
  /* height: 84%; */
  /* max-height: max-content; */
  background-color: indigo;
}
.handlebar2{
  margin: 1%;
  width: 48%;
  height: 85%;
  overflow: auto;
  text-align: center;
  float: right;
  /* margin-right: 10px; */
  border-radius: 8px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  background-color: aliceblue;
  color: indigo;
}
#heading{
  height: 6%;
  padding: 1%;
  margin: 1%;
  font-size: xx-large;
  color: white;
}
.btn{
  width: 50%;
}
#logout{
  background-color: maroon;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.3);
  transition: 0.2s;
  /* margin-right: 10px; */
  font-size: 150%;
  float: right;
  border-radius: 7px;
  width: 200px;
  /* height: 50px; */
  height: 6%;
  height: auto;
  padding: 0.5%;
  margin-top: 1%;
  margin-right: 1%;
  color: aliceblue;
}
#logout:hover{
  background-color: darkred;
  transform: scale(1.05);
}
#hme{
  background-color: teal;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.3);
  /* margin-right: 10px; */
  transition: 0.2s;
  font-size: 150%;
  float: right;
  border-radius: 7px;
  height: 6%;
  height: auto;
  padding: 0.5%;
  /* min-height: 50px; */
  /* margin-top: 1%; */
  width: 50px;
  height: 45px;
  color: aliceblue;
}
#hme:hover{
  background-color: darkcyan;
  transform: scale(1.1);
}
#profile{
  background-color: teal;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.3);
  margin-right: 10px;
  transition: 0.2s;
  font-size: 150%;
  float: right;
  border-radius: 7px;
  min-height: 50px;
  width: fit-content;
  height: 50px;
  color: aliceblue;
}
#profile:hover{
  background-color: darkcyan;
  transform: scale(1.1);
}
#profiles{
  background-color: teal;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.3);
  /* margin-right: 10px; */
  transition: 0.2s;
  font-size: 150%;
  /* float: right; */
  border-radius: 7px;
  width: fit-content;
  height: 50px;
  color: aliceblue;
}
#profiles:hover{
  background-color: darkcyan;
  transform: scale(1.1);
}
.bodyy{
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.296);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.442);
  border-color: slategray;
  border-style: double;
  margin: auto;
  border-radius: 8px;
  width: 97%;
  padding: 10px;
  height: 80%;
}
#courses{
  float: left;
  font-size: 150%;
  border-radius: 5px;
  border-width: 0px;
  width: 27%;
  height: 30px;
  margin: 1%;
  height: auto;
  color: aliceblue;
  text-align: center;
}
.search{
  font-size: 150%;
  /* float: right; */
  /* box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8); */
  border-radius: 4px;
  border-width: 0px;
  width: 67%;
  margin: 1%;
  height: 50px;
  height: auto;
  text-align: left;
  color: black;
}
.cn{
  background-color: white;
  height: 100px;
  width: 98%;
  /* padding: 1%; */
  margin: 1%;
  border-radius: 5px;
  border-width: 0px;
  border-color: indigo;
  font-size: 150%;
  text-align: center;
}
.cn:hover{
  box-shadow: 2px 2px 10px 10px indigo;
  background-color: indigo;
  color: aliceblue;
  border-width: 2px;
  border-color: white;
  width: 97%;
  border-radius: 5px;
  overflow: auto;
  /* transform: scale(1.1); */
}
.login_img{
  float: left;
  width: 50%;
  height: 100%;
  overflow: auto;
  text-align: center;
  background-color: rebeccapurple;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, rebeccapurple 10px ), repeating-linear-gradient( #ffffff55, #ffffff );
  text-align: center;
}
img{
  max-width: 100%;
  height: auto;
}
#title{
  color: teal;
  background-color: white;
  padding: 20px;
  margin-top: 25%;
}
.login{
  font-size: 150%;
  width: 50%;
  height: 100%;
  overflow: auto;
  text-align: center;
  background-color: gainsboro;
}
#login_heading{
  text-align: center;
  color: rebeccapurple;
  font-size: 200%;
  font-weight: 400;
  width: 100%;
  height: 50px;
}
#login_btn{
  text-decoration: none;
  width: 200px;
  height: 50px;
  color: aliceblue;
  text-align: center;
  border-width: 0px;
  background-color: teal;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  font-size: 100%;
  border-radius: 7px;
  margin-top: 10%;
  transition: 0.1s;
}
#login_btn:hover{
  border-width: 1px;
  background-color: teal;
  transform: scale(1.1);
}
#signup{
  color: rebeccapurple;
  background-color: rgba(0, 0, 0, 0.296);
  font-size: 100%;
  width: auto;
  border-width: 1px;
  background-color: transparent;
  border-radius: 15px;
  border-top: 0px;
  border-left: 0px;
  transition: 0.1s;
}
#signup:hover{
  transform: scale(1.1);
  box-shadow: 1px 5px 5px 0px rgba(0,0,0,.8);
}
label{
  padding: 1%;
  font-size: 100%;
  color: slategray;
  font-size: 150%;
  text-align: center;
}
input{
  align-items: center;
  width: 50%;
  height: 40px;
  font-size: 80%;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  margin-right: 25;
}
.link{
  text-decoration: none;
  color: white;
}
.link1{
  text-decoration: none;
  color: indigo;
}
.cbody{
  margin: 1%;
  height: 78%;
  /* overflow: auto; */
  /* text-align: center; */
  /* float: right; */
  /* margin-right: 10px; */
  border-radius: 8px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  background-color: aliceblue;
  color: indigo;
  /* margin: auto; */
  /* border-radius: 8px; */
  width: 98%;
  width: auto;
  padding: 50px;
  /* margin-left: 5px; */
  /* margin-right: 10px; */
  overflow: auto;
  /* text-align: center; */
  /* float: right; */
}
.dropdown-content {
  justify-content: center;
  display: none;
  /* float: right; */
  text-align: left;
  position: absolute;
  margin-top: 45px;
  /* background-color: white; */
  min-width: 160px;
  width: max-content;
  /* box-shadow: rgba(57, 57, 100, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  z-index: 1;
  border-radius: 20px;
  /* background-image: white; */
}
.dropdown{
  float: right;
  margin: 1%;
}
.dropdown-content a {
  /* margin-top: 30px; */
  color: indigo;
  padding: 5px 0px;
  text-decoration: none;
  display: block;
  /* height: max-content; */
  cursor: pointer;
}
.dropdown-content a:hover{
  /* background-color: whitesmoke; */
  border-radius: 20px;
}
.dropdown:hover .dropdown-content {
  display:list-item;
}
#pay{
  background-color: green;
  width: 200px;
  width: auto;
  height: 50px;
  height: auto;
  padding: 10px;
  float: right;
  color: white;
  border-radius: 5px;
  font-size: 150%;
  transition: 0.2s;
  /* margin-bottom: 20px; */
}
#pay:hover{
  transform: scale(1.1);
  background-color: green;
}
#teacher{
  width: 400px;
  height: 100px;
}
option{
  height: 10%;
  padding: 20px;
  background-color: teal;
}
#opt{
  height: 20px;
}